@model Agm.Models.Class.usersModel

@{
    ViewBag.Title = "addUser";
    Layout = "~/Views/Shared/_UserIndex.cshtml";
}

@Html.Raw(TempData["msg"])

@using (Html.BeginForm()) 
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
       
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
      
        <div class="form-group container mt-5">
          <h4 class="headerAdd"><i class="far fa-address-card"></i> Lütfen eklemek istediğiniz kişinin kullanıcı adını giriniz.</h4>  
            <div class="col-md-10 inputAddUser">
                @Html.EditorFor(model => model.userLoginName, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.userLoginName, "", new { @class = "text-danger" })
            </div>
        </div>


        <div class="form-group container">
            <div class="col-md-offset-2 col-md-10" style="margin:auto;">
              <center><input type="submit" style="width:50%;" value="Ekle" class="btn btn-primary" /></center>  
            </div>
        </div>
    </div>
}

