
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_UserIndex.cshtml";
}


<section>
    <div class="container">
       
        <div class="row mbr-justify-content-center">
                <div class="col-lg-6 mbr-col-md-10">

                    <div class="wrap">
                        <div class="ico-wrap">
                            <span class="mbr-iconfont fa fa-comments-o"></span>
                        </div>
                        <div class="text-wrap vcenter">
                            <h2 class="mbr-fonts-style mbr-bold mbr-section-title3 display-5"><span>Grup Kur</span></h2>
                            <p class="mbr-fonts-style text1 mbr-text display-6">Kendi grubunuzu kurup üyelerinizle hemen mesaj paylaşımına başlayın.</p>
                        </div>
                        <a href="@Url.Action("Create","Groups")" class="coverLink"></a>

                    </div>
        </div>
                
        <div class="col-lg-6 mbr-col-md-10">
            <div class="wrap">
                <div class="ico-wrap">
                    <span class="mbr-iconfont fa fa-envelope-o"></span>
                </div>
                <div class="text-wrap vcenter">
                    <h2 class="mbr-fonts-style mbr-bold mbr-section-title3 display-5">Gruba Mesaj At</h2>
                    <p class="mbr-fonts-style text1 mbr-text display-6">Grubunuzla mesaj paylaşarak üyelerinizle iletişime geçebilirsiniz.<br /></p>
                </div>
                <a href="@Url.Action("","Groups")" class="coverLink"></a>
            </div>
        </div>
        <div class="col-lg-6 mbr-col-md-10">
            <div class="wrap">
                <div class="ico-wrap">
                    <span class="mbr-iconfont fa fa-pencil-square-o"></span>
                </div>
                <div class="text-wrap vcenter">
                    <h2 class="mbr-fonts-style mbr-bold mbr-section-title3 display-5">
                        Grubu Düzenle
                    </h2>
                    <p class="mbr-fonts-style text1 mbr-text display-6">Grubunuzun bilgilerini kolaylıkla buradan değiştirebilirsiniz.</p>
                </div>
                <a href="@Url.Action("","Groups")" class="coverLink"></a>
            </div>
        </div>




        <div class="col-lg-6 mbr-col-md-10">
            <div class="wrap">
                <div class="ico-wrap">
                    <span class="mbr-iconfont fas fa-comment-slash"></span>
                </div>
                <div class="text-wrap vcenter">
                    <h2 class="mbr-fonts-style mbr-bold mbr-section-title3 display-5">Grubtan Ayrıl</h2>
                    <p class="mbr-fonts-style text1 mbr-text display-6">Aktif olarak kullanmadığınız gruplardan çıkış yapabilirsiniz.<br /></p>
                </div>
                <a href="@Url.Action("","Groups")" class="coverLink"></a>
            </div>
        </div>
        <div class="col-lg-6 mbr-col-md-10">
            <div class="wrap">
                <div class="ico-wrap">
                    <span class="mbr-iconfont fa fa-handshake-o"></span>
                </div>
                <div class="text-wrap vcenter">
                    <h2 class="mbr-fonts-style mbr-bold mbr-section-title3 display-5">
                        Asistan Ata
                    </h2>
                    <p class="mbr-fonts-style text1 mbr-text display-6">Grubunuza asistan atayarak üyelerinize yetki verebilirsiniz.</p>
                </div>
                <a href="@Url.Action("","Groups")" class="coverLink"></a>
            </div>
        </div>
        <div class="col-lg-6 mbr-col-md-10">
            <div class="wrap">
                <div class="ico-wrap">
                    <span class="mbr-iconfont fa fa-trash-o"></span>
                </div>
                <div class="text-wrap vcenter">
                    <h2 class="mbr-fonts-style mbr-bold mbr-section-title3 display-5">Grubu Sil</h2>
                    <p class="mbr-fonts-style text1 mbr-text display-6">Paylaşımda bulunmadığınız gruplarınızı buradan silebilirsiniz.<br /></p>
                </div>
                <a href="@Url.Action("","Groups")" class="coverLink"></a>
            </div>
        </div>

        </div>
    </div>
</section>