@model Agm.Models.Class.usersModel

@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div>
   @Html.ActionLink("Geri Dön", "Login", "Home", new { @class = "badge badge-primary"} )
</div>
@Html.Raw(TempData["msg"])
@using (Html.BeginForm(null, null, FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    @Html.AntiForgeryToken()
    <div class="container">
        <!-- Sign up card -->
        <div class="card person-card">
            <div class="card-body">
                
                <img id="img_sex" class="person-img"
                     src="~/User_Images/default2.png">
                <h2 id="who_message" class="card-title">Kişisel Bilgiler</h2>
                <!-- First row (on medium screen) -->
                <div class="row">
                    <div class="form-group col-md-6">
                        <label for="email" class="col-form-label">Adınız Soyadınız</label>
                        @Html.EditorFor(model => model.userNameSurname, new { htmlAttributes = new { @class = "form-control"  } })
                        <div id="first_name_feedback" class="invalid-feedback">
                            @Html.ValidationMessageFor(model => model.userNameSurname, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="form-group col-md-6">
                        <label for="email" class="col-form-label">Kullanıcı Adınız</label>
                        @Html.EditorFor(model => model.userLoginName, new { htmlAttributes = new { @class = "form-control", placeholder = "Giriş için bir kullanıcı adı belirleyin" } })
                        <div id="last_name_feedback" class="invalid-feedback">
                            @Html.ValidationMessageFor(model => model.userLoginName, "", new { @class = "text-danger" })
                        </div>
                    </div>
                </div>

            </div>
        </div>

        <div class="row">
            <div class="col-md-6">
                <div class="card">
                    <div class="card-body">
                        <h2 class="card-title">İletişim Bilgileri</h2>
                        <div class="form-group">
                            <label for="email" class="col-form-label">E-mail</label>
                            @Html.EditorFor(model => model.userEmail, new { htmlAttributes = new { @class = "form-control",placeholder="örnek@mail.com" } })
                            <div class="email-feedback">
                                @Html.ValidationMessageFor(model => model.userEmail, "", new { @class = "text-danger" })
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="tel" class="col-form-label">Telefon Numaranız</label>
                            @Html.EditorFor(model => model.userPhoneNumber, new { htmlAttributes = new { @class = "form-control", placeholder = "05*********" } })

                            <div class="phone-feedback">
                                @Html.ValidationMessageFor(model => model.userPhoneNumber, "", new { @class = "text-danger" })
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-md-6">
                <div class="card">
                    <div class="card-body">
                        <h2 class="card-title">Şifrenizi Belirleyin</h2>
                        <div class="form-group">
                            <label for="password" class="col-form-label">Şifre</label>
                            @Html.EditorFor(model => model.userPassword, new { htmlAttributes = new { @class = "form-control" }, placeholder = "şifrenizi giriniz" })
                            <div class="password-feedback">
                                @Html.ValidationMessageFor(model => model.userPassword, "", new { @class = "text-danger" })
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="password_conf" class="col-form-label">Şifre Tekrar</label>
                            @Html.EditorFor(model => model.reuserPassword, new { htmlAttributes = new { @class = "form-control" } })
                            <div class="password_conf-feedback">
                                @Html.ValidationMessageFor(model => model.reuserPassword, "", new { @class = "text-danger" })
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-6" style="padding:0.5em;">
                <div class="card">
                    <div class="card-body">

                        <label for="password" class="col-form-label">Profil Resmi</label><br />
                        <input type="file" name="file" style="width:100% !important"/>
                        <br />
                        @Html.ValidationMessageFor(model => model.userImageUrl, "", new { @class = "text-danger" })
                        </div>
                    </div>
                </div>
            </div>
        <div style="margin-top: 1em;">
            
            <input type="submit" value="Kaydol" class="btn btn-primary btn-lg btn-block"/>
            <br />
            <br />
        </div>
    </div>
   }


                       